{% extends "user_account/base.html" %}
{% block title %} Project List {% endblock %}
{% load i18n %}

{% block content %}

<style>
  .project-list .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .6rem 0;
  }


  .project-list h2 {
    margin: .35em
  }

  .project-filter {
    background-color: var(--white);
    border-radius: var(--radius);
    padding: .6rem;
  }

  .filter-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
</style>


<section class="project-list">
  <div class="breadcrumb">
    <a href="{% url 'user_account:dashboard' %}" class="bread-item">
      <i class="bi bi-house"></i>
    </a>
  
    <i class="bi bi-chevron-compact-right"></i>
  
    <a href="{% url 'project:project_list' %}" class="bread-item active-link">
      <b>Project List</b>
    </a>
  </div>

  <div class="header">
    <h2>
      {% if is_admin %}
        {% trans "All Projects" %}
      {% else %}
        {% trans "Your Projects" %}
      {% endif %}
    </h2>

    <a href="{% url 'project:project_create' %}" class="btn btn-brand">
      <i class="bi bi-plus"></i>
      Start Project
    </a>

  </div>
  
  <!-- Filter Form -->
   <div class="project-filter">
    <form method="get" class="filter-form">
      {% if is_admin %}
        <div class="row">
          <div class="col-md-3">{{ filter.form.organization }}</div>
          <div class="col-md-3">{{ filter.form.ward }}</div>
          <div class="col-md-3">{{ filter.form.status }}</div>
          <div class="col-md-3">{{ filter.form.funding_type }}</div>
        </div>
      {% else %}
        <div class="filter-group">
          <label for="ward">Ward</label>
          {{ filter.form.ward }}
        </div>
        
        <div class="filter-group">
          <label for="ward">Status</label>
          {{ filter.form.status }}
        </div>
        
        <div class="filter-group">
          <label for="ward">Funding Type</label>
          {{ filter.form.funding_type }}
        </div>
      {% endif %}
      <button type="submit" class="btn btn-brand">{% trans "Filter" %}</button>
    </form>
   </div>

  <!-- Project Table -->
  <table class="default-table">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        {% if is_admin %}
          <th>{% trans "Organization" %}</th>
        {% endif %}
        <th>{% trans "Status" %}</th>
        <th>{% trans "Ward" %}</th>
        <th>{% trans "Budget (TZS)" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for project in filter.qs %}
        <tr>
          <td><a href="{% url 'project:project_details' pk=project.pk %}">{{ project.name }}</a></td>
          {% if is_admin %}
            <td>{{ project.organization.get_full_name }}</td>
          {% endif %}
          <td>{{ project.get_status_display }}</td>
          <td>{{ project.get_ward_display }}</td>
          <td>{{ project.budget|default:"-" }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="5">{% trans "No projects found." %}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

